name: Bench

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  benchmark_with_codspeed:
    name: Continuous Benchmarking with CodSpeed
    runs-on: ubuntu-latest
    steps:
      - name: Collect Workflow Telemetry
        uses: runforesight/workflow-telemetry-action@v2
        with:
          comment_on_pr: false
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install
        run: |
          uv build --config-setting profile==profiling

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: uv run pytest --benchmark-warmup=on --benchmark-warmup-iterations=100 --codspeed tests/test_bench.py

      - name: Minimize uv cache
        run: uv cache prune --ci
